
body{background-color: #121916;
font-family:Nunito}

/* Adiciona um estilo personalizado para a barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Adiciona um estilo personalizado para o rastreamento da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #121916;
  }
  
  /* Adiciona um estilo personalizado para a alça da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color:  #00ffa8;
    border-radius: 5px;
  }
  